<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="greatlifedevelopers.studentrental"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="greatlifedevelopers.studentrental.mapav2.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="com.google.android.c2m.permission.RECEIVE" />
    <uses-permission android:name="greatlifedevelopers.studentrental.mapav2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="greatlifedevelopers.studentrental.permission.C2D_MESSAGE" />
    <uses-permission android:name="greatlifedevelopers.studentrental.permission.C2D_MESSAGE" />


    <permission
        android:name="greatlifedevelopers.studentrental.mapav2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!--<permission
        android:name="greatlifedevelopers.studentrental.mapav2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />-->

    <!-- opengl para maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_student_rental"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".data.ParsePushApplication">

        <activity
            android:name=".activitys.MainActivity"
            android:label="Student Rental" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
        <activity
            android:name=".activitys.ListBusquedaActivity"
            android:label="Busqueda Personalizada">
        </activity>
        <activity
            android:name=".Login"
            android:label="Student Rental" >
        </activity>
        <activity
            android:name=".HiScreen"
            android:label="Student Rental" >
        </activity>
        <activity
            android:name=".activitys.Favorito"
            android:label="Favoritos" >
        </activity>
        <activity
            android:name=".activitys.DetalleAlojamiento"
            android:label="Detalle Alojamiento" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ProfileActivity"
            android:label="Perfil de Usuario"
            android:parentActivityName=".activitys.MainActivity">

        </activity>
        <activity
            android:name=".activitys.SignUpRegister"
            android:label="@string/title_activity_sign_up_register" >
        </activity>
        <activity
            android:name=".activitys.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyArXK1ngAtFZsZpV1sBrcUu49kAONQY7Sg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id_facebook" />

        <activity
            android:name=".activitys.AlojamientoActivity"
            android:label="Detalles Alojamiento">

        </activity>
        <activity
            android:name=".activitys.DetalleHabitacionActivity"
            android:label="Detalles Habitación"
            android:parentActivityName=".activitys.MainActivity">
        </activity>

        <!-- Parse Push Notifications -->

        <service android:name="com.parse.PushService" />
            <receiver android:name="com.parse.ParseBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.USER_PRESENT" />
                </intent-filter>
            </receiver>


        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="greatlifedevelopers.studentrental" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
